header {
    align-items: center;
    padding: 20px 10px;
    height: 100px;
}

.ceo-div {
    text-align: center;
    transition: all 0.3s ease 0s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 42px;
    width: 52%;
    float: left;
    color: black;
}

.images {
    background-image: url("images/hero.jpg");
    margin-left: 2%;
    margin-right: 2%;
    height: 695px;
    vertical-align: middle;
}

.images .light {
    color: rgb(78, 78, 78);
}

.images>div {
    text-align: center !important;
    padding-top: 16em;
}

.images h1 {
    text-align: center !important;
    font-size: 50px;
    color: rgb(56, 53, 53);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0 auto;
}

.images button {
    margin-top: 1em;
}


/* Stefan Milojevic */

.stefanCard {
    text-align: center;
}

.stefanCard .container p {
    color: gray;
}

.container .row p {
    color: gray;
    text-align: center;
}

.container .row hr {
    color: rgb(134, 191, 238);
    background-color: rgb(151, 197, 235);
    height: 2px;
}

.stefanVelikiDiv {
    background-color: rgb(239, 241, 241);
    margin: 2%;
}

.stefanVelikiDiv .row h3 {
    margin-top: 2%;
}

.stefanVelikiDiv .row img {
    margin-bottom: 2%;
}

.stefanCardDiv {
    margin: 1%
}

.images button {
    font-size: 25px;
    padding: 15px 15px;
    background-color: rgb(56, 53, 53);
    color: white;
    border-radius: 5px;
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.ime {
    font-size: 18px;
    margin: 15px;
    color: black !important;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link:hover {
    color: #00E8E8 !important;
}

.active .nav-link {
    color: #00E8E8 !important;
}

.navbar-nav li {
    font-size: 10px;
}


/*@media screen and (max-width: 768px) {
    .images {
        height: 600px;
    }
    .images h1 {
        font-size: 30px;
        text-align: center;
        left: 50px;
        top: 330px;
    }
    .images h1 span {
        font-size: 30px;
        text-align: center;
        left: 50px;
        top: 80px;
    }
    .images button {
        left: 170px;
        top: 500px;
    }
}*/

footer {
    margin-top: 30px;
}

.donjideo {
    background-color: rgb(239, 241, 241);
    margin-bottom: 30px !important;
}

.kompanija {
    font-size: 18px;
    color: rgb(126, 126, 126);
    font-family: Arial, Helvetica, sans-serif;
}


/* ---- */


/* Stefan Milojevic */


/* ---- */


/* Jovan Vujovic */

.trecaHR {
    width: 80%;
    height: px;
    border: 1px solid rgb(0, 0, 0);
}

.trrow {
    left: 400px;
    right: 400px;
    height: 300px;
    margin-left: 20%;
    margin-right: 20%;
}

#prviHorzSecondary {
    background-color: rgb(240, 240, 240);
    width: 25%;
    height: 100%;
    float: left;
    padding: 0;
}

#prviHorzSecondary h3 {
    text-align: center;
    font-weight: bold;
}

#prviHorzSecondary p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    text-align: center;
    padding-right: 12px;
}

.buthorzmenu {
    background-color: rgb(3, 89, 129);
    color: white;
    text-align: center;
    border-radius: 6px;
    border: none;
    padding: 5px 5px;
    font-size: 18px;
    margin-left: 32%;
    margin-bottom: 4%;
}

#prvaslikaHorzSecondary {
    width: 25%;
    float: left;
    margin: 0 auto;
    height: 100%;
    padding: 0;
}

#prvaslikaHorzSecondary img {
    width: 100%;
    height: 100%;
}

#prvihrsecondary {
    border: 1px solid rgb(111, 212, 212);
}

#leptirDiv {
    margin-top: 20%;
    margin-left: 8%;
}

#leptirDiv img {
    width: 1580px;
    height: 600px;
}

#poslednjiDiv h2 {
    margin-top: 2%;
    text-align: center;
}

#poslednjiDiv hr {
    border: 1px solid rgb(111, 212, 212);
    width: 40%;
}

#poslednjiDiv p {
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
}

#poslednjiDiv button {
    background-color: rgb(3, 89, 129);
    color: white;
    text-align: center;
    border-radius: 6px;
    border: none;
    margin-left: 47%;
    font-size: 20px;
    padding: 12px 12px;
}


/* ---- */